$steelbue: #1A7082;

.header {
  padding: 18px 0;
  background: #ffffff;
  position: relative;
  width: 100%;
  z-index: 5;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  transition: 0.4s all;
  &.disabled{
    filter: blur(3px);
    &:before{
      position: absolute;
      content: '';
      background: #000000;
      opacity: 0.7;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }

  .container {

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        margin-right: 45px;

        img {
          max-width: 212px;
        }
      }

      .contact-tabs {
        margin-right: 256px;
        position: relative;
        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 19px;
          position: absolute;
          right: -66px;
          top: 2px;
          width: 36px;
          height: 36px;
          background: $steelbue;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #ffffff;
          z-index: 5;
          cursor: pointer;

          &:before {
            content: '';
            position: absolute;
            width: 61px;
            height: 61px;
            background: #1A708210;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }

          &:after {
            content: '';
            position: absolute;
            width: 95px;
            height: 95px;
            background: #1A708205;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }

        &__nav {
          display: flex;
        }

        &__item {
          margin-right: 21px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }
        }

        .tab-content {
          display: none;

          &.active {
            display: block;
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            text-transform: uppercase;
            color: #333333;
          }

        }
      }

      .menu {
        display: flex;
        margin-right: 190px;

        &__items {
          margin-right: 60px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #333333;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .lang {
        margin-right: 35px;
        position: relative;
        max-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-select{
          height: 24px;
        }

        .vodiapicker {
          display: none;
        }

        #a {
          padding-left: 0;
          width: 100%;
          height: 100%;
        }

        #a img, .btn-select img {
          width: 36px;

        }

        #a li {
          list-style: none;
        }

        #a li:hover {
          background:#F4F3F3;
        }

        #a li img {
          margin: 7px 12px 5px;
          cursor: pointer;
        }

        /* item list */

        .b {
          display: none;
          position: absolute;
          top: -20px;
          right: 0;
          z-index: 16;
          width: 63px;
          height: 122px;
          max-width: 350px;
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          border: 1px solid rgba(0, 0, 0, .15);
          border-radius: 5px;
          background: #ffffff;

        }

        .open {
          display: block !important;
        }

        .btn-select {
          width: 100%;
          max-width: 62px;
          height: 24px;
          border: none;
          background-color: #fff;
          outline: none;
          margin-right: 10px;
          cursor: pointer;

        }

        .btn-select li {
          list-style: none;
          float: left;
          padding-bottom: 0;
        }

        .btn-select:hover li {
          margin-left: 0;
        }


        .btn-select:focus {
          outline: none;
        }

        .angle-down {
          width: 16px;
          height: 9.45px;
        }
      }

      .wrapper{
        .book {
          display: inline-block;
          padding: 7px 30px;
          background: $steelbue;
          border-radius: 15px;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          color: #FFFFFF;
          white-space: nowrap;

        }
      }

      .burger{
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
        &.active{
          span{
            background: none;
            &:before{
              top: 0;
              transform: rotate(45deg);
            }
            &:after{
              bottom: 0;
              transform: rotate(-45deg);
            }
          }
        }
        span{
          position: relative;
          width: 24px;
          height: 3px;
          background: #4F4F4F;
          &:before{
            content: '';
            position: absolute;
            width: 24px;
            height: 3px;
            background: #4F4F4F;
            top: -9px;
            transition: 0.3s all;
          }
          &:after{
            content: '';
            position: absolute;
            width: 24px;
            height: 3px;
            background: #4F4F4F;
            bottom: -9px;
            transition: 0.3s all;
          }
        }
      }

    }

  }
}
